# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Test & cache
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Virtualenv
.venv/
venv/
env/

# Editor / OS
.idea/
.vscode/
.DS_Store

# Lokal / secrets
.env
*.env
